body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: bold;
}

.center-button {
  margin: 0 auto;
  display: block;
}

.center-table table {
  margin: 0 auto;
  width: 66%;
}

.error-background:read-only {
  background-color: #f8d7da;
}

.n0 {
	background-color: DeepPink;
}

.n2 {
	background-color: Salmon;
}

.n4 {
	background-color: Red;
}

.n6 {
	background-color: Gold;
}

.n8 {
	background-color: SaddleBrown;
}

.n10 {
	background-color: Lime;
}

.n12 {
	background-color: ForestGreen;
}

.n14 {
	background-color: Aqua;
}

.n1 {
	background-color: Blue;
}

.n3 {
	background-color: LightSkyBlue;
}

.n5 {
	background-color: MediumPurple;
}

.n7 {
	background-color: Silver;
}

.n9 {
	background-color: orange;
}

.n11 {
	background-color: Teal;
}

.n13 {
	background-color: gray;
}

.n15 {
	background-color: RosyBrown;
}

.black-bg {
  border-style: solid;
}

.green {
  background-color: greenyellow;
}

.blue {
  background-color: skyblue;
}

.orange {
  background-color: orange;
}

.s-table-explainer {
  text-align: center;
}

.explainer-row {
  display: block;
  width: 100%;
  border-radius: 0.2em;
}